
.create-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 100vh;
    color: white;
    font-family: Inter;
    background: linear-gradient(
        270deg,
        rgb(206, 206, 206),
        rgb(0, 0, 0)
    ); 
}
.create-form{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 50px 80px 50px 0;
    border-radius: 20px;
    border-style:solid;
    opacity: 1;
    border-color:  rgb(127, 127, 127);
    background: linear-gradient(
        90deg,
        rgb(255, 255, 255),
        rgb(0, 0, 0)
    ); 
}
.footer{
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 600;
}
.login-div{
    color: blue;
    text-decoration: underline;
    margin-left: 5px;
    cursor: pointer;
}